body {
  background: #06A7F7;
}


#player {
  width: 150px;
  height: 150px;
  margin: 0px auto;
  position: absolute;
  background: #FFFFFF;
  z-index: 1;
}

.flag {
  border-radius: 50%;
  position: absolute;
  width: 10px;
  height: 10px;
  background: red;
}

.header {
  text-align: center;
}

.center {
  text-align: center;
  margin: 40% auto;
}

#goal {
  width: 152px;
  height: 152px;
  position: absolute;
  background: #15FF00;
}